{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="centereddiv">

    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" class="loginform" action="{% url 'account_reset_password' %}" class="password_reset">
          <!-- checks and displays error messages when made an invalid request -->

        {% if form.errors %}
                <div class="alert alert-error">
                <h4>Please fix the following errors</h4>
                <ul>
                {% for field in form %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </ul>
                {% if form.non_field_errors %}
                    {{ form.non_field_errors }}
                {% endif %}
                </div>
        {% endif %}
        {% csrf_token %}
        {% for field in form %}
            <label>{{field.label}}</label>
            {{field}}
        {% endfor %}
        <button type="submit">Reset My Password</button>
    </form>
    
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
{% endblock %}
