{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="centeredddiv">
    <h1>{% trans "Set Password" %}</h1>
    
    <form method="POST" class="loginform" action="{% url 'account_set_password' %}" class="password_set">
          <!-- checks and displays error messages when made an invalid request -->

        {% if form.errors %}
                <div class="alert alert-error">
                <h4>Please fix the following errors</h4>
                <ul>
                {% for field in form %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </ul>
                {% if form.non_field_errors %}
                    {{ form.non_field_errors }}
                {% endif %}
                </div>
        {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">Set Password</button>
    </form>
</div>
{% endblock %}
