{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="centereddiv">
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
    
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        {% else %}
        <form method="POST" class="loginform" action="{{ action_url }}">
              <!-- checks and displays error messages when made an invalid request -->
            {% if form.errors %}
                <div class="alert alert-error">
                <h4>Please fix the following errors</h4>
                <ul>
                {% for field in form %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </ul>
                {% if form.non_field_errors %}
                    {{ form.non_field_errors }}
                {% endif %}
                </div>
            {% endif %}
            {% csrf_token %}
            {% for field in form %}
                <label>{{field.label}}</label>
                {{field}}
            {% endfor %}
            <button type="submit" name="action">change password</button>
        </form>
        {% endif %}
</div>
{% endblock %}
