@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
body{
    margin: 0;
    background-color:#534292;
}
.navbar{
    background-color: #534292;
    width: 100%;
    height: 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar > .title{
    margin-left: 30px;
    text-decoration: none;
    font-family: 'Water Brush', cursive;
    font-size:40px;
}
.navbar > .title > a{
    text-decoration: none;
    color: white;
}
.navbar > .buttons > span > a{
    margin-right: 30px;
    text-decoration: none;
    font-family: 'Radio Canada', sans-serif;
    color:white;
    font-size:larger;
}

.messages{
    background-color:#4a924b;
    height:50px;
    font-family: 'Radio Canada', sans-serif;
    color:white;
    font-size: medium;
    display: flex;
    justify-content: center;
}

.messages > ul{
    list-style-type:none;
}

.centereddiv{
    margin-top: 2%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:white ;
    color:#534292;
    border: none;
    margin-left: 30%;
    box-shadow: 2px 2px 7px white;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.centereddiv > p{
    font-family: 'Radio Canada', sans-serif;
}

.google{
    background-color: white;
    border-radius: 30px;
    border-width: 2px;
    border-color: #4a924b;
    border: solid;
    height: 10%;
}

.loginform{
    display:grid;
}
.loginform > label{
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
}

.loginform > input{
    margin-bottom: 20px;
    width: 100%;
    height:100%;
    outline: none;
    border: none;
    background-color: #ffffff;
    border-bottom: 2px solid rgb(20, 104, 222); 
}

a{
    text-decoration: none;
    color:rgb(50, 154, 239);
}

.loginform > button{
    width: 25%;
    margin-top: 20px;
    margin-left: 0%;
    border: none;
    border-radius: 4px;
    height: 40px;
    background-color: #534292;
    color:white;
}

.buttonHolder > button{
    width: 25%;
    margin-top: 20px;
    margin-left: 0%;
    border: none;
    border-radius: 4px;
    height: 40px;
    background-color: #534292;
    color:white;
}